@import url('../../../../../node_modules/font-awesome/css/font-awesome.min.css');
.header__section {
    overflow-clip-margin: content-box;
  display: flex;
  justify-content: center;
  background-color: var(--color-background-light);
}
.header__section1{
   padding: -50%;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-nav);
}
.d-flex {
  height: 60px;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
a:visited{
  color: var(--color-nav);
}
svg{
  color: var(--color-nav);
  height:30px;
}
.nav__buttons{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}