.products {
    
  background-color: var(--color-background);
}
.cards{
display: flex;
justify-content: flex-start;
flex-direction: row;
}
.products__inner {
  
  margin: 10%;
  background-color: var(--color-background-light);
}
