:root{
    --color-primary:#FFC971;
    --color-secondary:#333333;
    --color-text:black;
    --color-text-light:white;
    --color-background:#EDEDED;
    --color-background-light: white;
    --color-nav:#504f4e;
}